
<header class="container center-align">

  <h1>Selected Post</h1>
  <a class="btn" href="/posts">See All Posts</a>
  <a class="btn" href="/posts/create">Create Post</a>
  <br>
  <br>
</header>
<main>
  <div class="container">
    {{#each post}}
      <h5>{{this.title}}</h5>
      <p>Created on {{this.created_at}}</p>
      <p>{{this.body}}</p>
      <button type="button" name="delete" class="btn delete" data-id="{{this.id}}">Delete</button>
      <a class="btn" href="/posts/{{this.id}}/edit">Edit</a>
    {{/each}}
  </div>
</main>
